.ContactContainer h2 {
    color: var(--heading-color);
    font-family: var(--heading-family);
    font-size: 4rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    cursor: context-menu;
}
.contactForm div, .errorMsg {
    font-size: 0.8rem;
    border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #000000;
    padding: 5px 10px;
    border-radius: 5px;
    transition:0.5s;
    cursor:pointer;
    margin: 5px 0;
}
.contactForm div:hover, .errorMsg:hover {
    background-color: rgba(220, 17, 1, 0.33);
    transition:0.5s;
}
.successMsg {
    font-size: 0.8rem;
    border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: var(--heading-color);
    padding: 5px 10px;
    border-radius: 5px;
    text-shadow: 2px 1px #000000;
    transition:0.5s;
    cursor:pointer;
    margin: 5px 0;
}
.successMsg:hover{
    background-color: rgba(7, 149, 66, 0.35);
    transition:0.5s;
}
.googleMap, #gmap_canvas {
    border: 2px solid var(--heading-color);
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    height: 375px;
    margin-top: 20px;
}
.mapText{
    color: var(--heading-color);
    font-weight: bold;
}
.contactForm{
    position: relative;
    display: block;
}
.contactForm label {
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
    color: var(--day-color);
}
.contactForm input[type="text"], .contactForm input[type="email"], .contactForm textarea {
    color: var(--heading-color);
    background: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 20px 0 0 0;
    padding: 10px;
    position: relative;
    width: 100%;
    display: block;
    text-align: left;
    border: 2px solid var(--heading-color);
    transition: all .5s ease-in-out;
    outline: 0;
    box-shadow: none;
}
.contactForm input[type="text"]::placeholder, .contactForm input[type="email"]::placeholder, .contactForm textarea::placeholder {
    color: #ddd;
    font-size: var(--body-font);
}
.contactForm input:focus, .contactForm textarea:focus,
.contactForm input:hover, .contactForm textarea:hover {
    outline: 0;
    box-shadow: 0 0 15px var(--heading-color);
}
.contactForm .btn {
    box-shadow: 0 5px var(--heading-color);
    background: var(--day-bg-color);
    border: 2px solid var(--heading-color);
    color: var(--heading-color);
    transition: all .25s ease-in-out;
    margin: 20px 0 0 0;
    display: block;
}
.contactForm .btn:focus {outline: 0;}
.contactForm .btn:hover {
    color: var(--day-color);
    box-shadow: none;
    transform: translateY(5px);
    border-color: var(--heading-color);
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: all .25s ease-in-out;
    background: var(--heading-color);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    color: var(--heading-color) !important;
    -webkit-text-fill-color: var(--heading-color) !important;
    -webkit-background-clip: text !important;
    background-clip:  text !important;
}