@font-face {
    font-family: 'OCR-A-Regular';
    src: url('./fonts/OCR-A-Regular.ttf') format('truetype');
}
:root {
    --day-bg-color: #001e26;
    --day-color: #ffffff;
    --heading-color: #3ab773;
    --hover-color: #71c59c;
    --body-font: 16px;
    --body-font-family: 'Oswald', sans-serif;
    --heading-family: 'Cabin Sketch', cursive;
    --matrix-font-family: 'OCR-A-Regular','Oswald', sans-serif;
    --box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    --white-shadow: 0 5px 10px rgba(255,255,255,0.5);
    --text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    --green-shadow: 0px 0px 10px rgb(58, 183, 115, 1);
}
body, .Portfolio {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--day-bg-color);
    color: var(--day-color);
    font-size: var(--body-font);
    font-family: var(--matrix-font-family);
    line-height: 1.5;
}
.Portfolio{
    display: flex;
}
.Outerbox {
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;    
    margin-left: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
a, a:hover{
    color: var(--heading-color);
    text-decoration: none;   
    outline: none; 
}
a:visited, a:focus{
    outline: none;
    text-decoration: none;
}
#glow {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    color: var(--day-color);
    -webkit-text-shadow: 0 0 10px var(--heading-color), 0 0 50px var(--hover-color);
    -moz-text-shadow: 0 0 10px var(--heading-color), 0 0 50px var(--hover-color);
    -ms-text-shadow: 0 0 10px var(--heading-color), 0 0 50px var(--hover-color);
    -o-text-shadow: 0 0 10px var(--heading-color), 0 0 50px var(--hover-color);
    text-shadow: 0 0 10px var(--heading-color), 0 0 50px var(--hover-color);
    overflow: visible; 
    cursor: pointer;
}
#glow:hover {
    color: var(--heading-color);
    -webkit-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    -moz-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    -ms-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    -o-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
    text-shadow: 0 0 0 transparent, 0 0 0 transparent;
}
p{
    text-align: justify;
}

/* Responsive css start here */
@media only screen and (max-width: 1200px) {
    .homeContainer h1, .AboutContainer h2, .SkillContainer h2, .WorkContainer h2, .ContactContainer h2{
        font-size: 3rem !important;
    }
    .homeContainer h1 span {
        font-size: 4rem !important;
    }
    .homeContainer h2, .homeContainer h2 span{
        font-size: 2.5rem !important;
    }
    .Outerbox {
        padding: 20px;
    }
    .mLogo {
        width: 100% !important;
    }
    .skillBox{margin-top: 0;}
    .contactForm {margin-bottom: 30px;}
    .googleMap, #gmap_canvas {
        height: 350px !important;
    }
}
@media only screen and (max-width: 1024px) { 
    .flipx{
        height: 300px !important;
    }
}
@media only screen and (max-width: 991px) {    
    .mLogo {
        width: 60% !important;
        padding: 50px 0 0 0;
    }
    .Outerbox {
        height: 100%;
    }
    .aboutMe{
        margin: 30px auto !important;
        height: 20rem !important;
        width: 15rem !important;
    }
}
@media only screen and (max-width: 767px) {
    :root {
        --body-font: 14px !important;
    }
    .Outerbox {
        height: 100%;
        padding: 20px 0 !important;
    }
    .WorkContainer h2{
        margin-top: 0 !important;
    }
    .Outerbox.WorkSite{
        padding-bottom: 40px !important;
    }
    .homeContainer h1, .AboutContainer h2, .SkillContainer h2, .WorkContainer h2, .ContactContainer h2{
        font-size: 3rem !important;
    }
    .homeContainer h1 span {
        font-size: 4rem !important;
    }
    .homeContainer h2, .homeContainer h2 span{
        font-size: 2.5rem !important;
    }
    .mLogo {
        width: 60% !important;
        padding: 50px 0;
    }
    .googleMap, #gmap_canvas {
        margin: 0 0 50px 0 !important;
        height: 400px !important;
    }
    .skillBox{margin: 0 0 60px 0 !important}    
    .aboutMe{
        margin: 50px auto !important;
    } 
}
@media only screen and (max-width: 575px) {
    .Outerbox.homeOuterBox, .Outerbox.WorkSite{        
        height: 100vh;
    }
    .btn{
        padding: 10px !important;
        max-width: 150px !important;
        height: 40px !important;
        line-height: 1 !important;
        letter-spacing: 2px !important;
    }
    .AboutContainer h2, .SkillContainer h2, .ContactContainer h2{
        font-size: 2.5rem !important;
        line-height: 1 !important;
        margin-bottom: 15px !important;
    }
    .WorkContainer h2{
        margin-bottom: 40px !important;
    }
    .homeContainer h1{
        font-size: 2rem !important;
    }
    .homeContainer h1 span {
        font-size: 2.75rem !important;
        line-height: 1 !important;
    }
    .homeContainer h2, .homeContainer h2 span{
        font-size: 1.75rem !important;
        line-height: 1.2 !important;
        margin-top: 10px !important;
    }
    .socialLinks {   
        width: 150px !important;
    }
    .socialLinks a {
        font-size: 1.25rem !important;
    }
    .homeContainer  .d-flex {
        flex-direction: column;
    }
    .mLogo {
        width: 80% !important;
    }
    .googleMap, #gmap_canvas {
        margin: 0 0 50px 0 !important;
        height: 300px !important;
    }
    .skillBox{margin: 0 0 40px 0 !important;}
    .slides .nextSlideBtn, .slides>.prevSlideBtn{
        font-size: 1rem!important;
        height: 2rem!important;
        width: 2rem!important;
    }
    .slides>.prevSlideBtn {
        left: -15px!important;
    }
    .slides>.nextSlideBtn {
        right: -15px!important;
    }
    .flipx{
        height: 200px !important;
    }
}


/* dark and lighe mode css start */
/* .dark-theme{
    --day-bg-color: #001e26;
    --day-color: #ffffff;
    --night-bg-color: #ffffff;
    --night-color: #001e26;
}
.light-theme{
    --day-bg-color: #ffffff;
    --day-color: #001e26;
    --night-bg-color: #001e26;
    --night-color: #ffffff;
}
.toggleMode {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 111;
}
.toggleMode input[type="checkbox"] {
    position: relative;
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    background: red;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
  }
  .toggleMode input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: 0.5s;
  }
  .toggleMode input[type="checkbox"]:checked::before {
    transform: translateX(100%);
    background: #fff;
  }
  .toggleMode input[type="checkbox"]:checked {
    background: #00ed64;
  } */
  /* dark and lighe mode css end */

  
/* color switcher mode css start */
.color-switcher {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    z-index: 111;
    width: 10rem;
    background-color: var(--heading-color);
    padding: 1rem;
    transition: all 0.5 ease-in-out;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.color-switcher--open{
    transform: translate(0%, -50%);
}
.color-switcher p{
    color: var(--day-color);
}
.color-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.color-item{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--heading-color);
    border: 3px solid var(--day-color);
    outline: 0;
    cursor: pointer;
}
.color-btn{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 1.25rem;
    transform: translate(-100%, -50%);
    z-index: 111;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--heading-color);
    color: var(--day-color);
    border: none;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.color-btn svg{
    animation: rotate-animation 10s infinite linear;
}
@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* color switcher mode css end */